# AWS Configuration
AWS_REGION=eu-north-1

# Email Configuration
EMAIL_ENABLED=true
EMAIL_TO="your-email@example.com"
EMAIL_FROM="your-email@example.com"
EMAIL_SUBJECT="AWS Resource Audit Report"

# SMTP Configuration - USER MUST ADD THEIR OWN
SMTP_SERVER="smtp.gmail.com"
SMTP_PORT="587"
SMTP_USER="your-email@gmail.com"
SMTP_PASSWORD="google app password"

# Slack Configuration
SLACK_WEBHOOK_URL=""

# Cost Estimation Tags
COST_TAG_KEY="Environment"
COST_TAG_VALUE="Production"
